<p>Leave Your Comment</p>
<%= form_for [article, Comment.new], :remote => true do |f| %>

<p>
  <%= f.text_field :name %> *
  <%= label_tag(:comment_name, "Name")%>
</p>
<p>
  <%= f.text_field :email %> *
  <%= label_tag(:comment_mail, "Mail")%>
</p>
<p>
  <%= f.text_field :website %>
  <%= label_tag(:comment_website, "Website")%>
</p>
<p>
  <%= f.text_area :content, :size => "60x12" %>
</p>
<p>
  <%= submit_tag "Leave Your Comment" %>
</p>
<% end %>