<%= form_for [article, Comment.new], :remote => true, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    <legend>Leave Your Comment</legend>

    <div class="control-group">
      <%= label_tag(:comment_name, "Name *")%>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:comment_mail, "Mail *")%>
      <div class="controls">
        <%= f.text_field :email %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:comment_website, "Website")%>
      <div class="controls">
        <%= f.text_field :website %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:comment_content, "Content")%>
      <div class="controls">
        <%= f.text_area :content, :size => "60x12", :class => "xxlarge" %>
      </div>
    </div>

    <div class="form-actions">
      <%= button_tag "Leave Your Comment", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
