<%= form_for article, :html => {:class => "form-horizontal", :multipart => true} do |f| %>
  <fieldset>
    <div class="control-group">
      <%= label_tag 'article_title', 'Title:', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'control-label' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'article_slug', 'Slug:', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :slug, :class => 'control-label' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag 'article_content', "Content:", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :size => '90x15' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label 'article_tag_attributes', "Tags:(seperated by comma)", :class => 'control-label' %>
      <div class="controls">
        <%= text_area_tag("article[tag_attributes]", "") %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label 'article_attachments_', "File:", :class => 'control-label' %>
      <div class="controls">
        <%= file_field_tag("article[attachments][]") %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button "Save", :class => "btn" %>
      <%= f.button "Save and Publish", :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

