<%= form_for(article) do |f| %>

<dl>
  <dd><%= label_tag(:title_label, "Title")%></dd>
  <dt><%= f.text_field :title %></dt>
</dl>
<dl>
  <dd><%= label_tag(:slug_label, "Slug")%></dd>
  <dt><%= f.text_field :slug %></dt>
</dl>
<dl>
  <dd><%= label_tag(:content_label, "Content")%></dd>
  <dt><%= f.text_area :content, :size => "120x40" %></dt>
</dl>

<p>
  Tags:(seperated by comma)
</p>

<p>
<%= text_area_tag("article[tags]", "", :size => "25x4") %>
</p>

<p>
  <a id='get_tags' href="/tags" data-remote="true">show current tags</a>
</p>

<div id='all_tags'>
</div>

<%= f.submit %>

<% end %>

