<section id="contents">
  <%= render @article %>
</section>

<section id="comments">
  <h3>
    <span class="comments_count"><%= @comments.count %>
    <% if @comments.count > 1 %>
    Comments
    <% else %>
    Comment
    <% end %>
    </span>
    to
    <%= @article.title %></h3>
  </h3>
  <ol class="comments_list">
    <% @comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </ol>
  <%= render "comments/new_comment", :article => @article %>
</section>
