<section id="contents">
  <% if @article.nil? %>
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  <% else %>
    <%= render @article %>
    <section class="comments">
      <h3>
        <span class="comments_count"><%= @comments.size %>
        <% if @comments.size > 1 %>
        Comments
        <% else %>
        Comment
        <% end %>
        </span>
        to
        <%= @article.title%></h3>
        <ol id="comments_list" class="comments_list">
          <%= render @comments %>
        </ol>
      <%= render "comments/new_comment", :article => @article %>
    </section>
  <% end %>
</section>
