<h3>Tag:</h3>
<p>
<%= @tag.first.name %>
</p>

<h3>Posts in the Tag:</h3>
<% @tag.first.posts.each do |post| %>
  <p>
  <%= post.title %>
  </p>
<% end %>


<h3>Add Posts to Tag</h3>
<%= form_for @tag.first, :as => :tag, :url => tag_path(@tag.first), :html => { :method => :put } do |f| %>
<p>
  <% @posts.each do |post| %>
      <%= check_box_tag "tag[posts_to_add][#{post.id}]", "#{post.id}" %> <%= post.title %>
  <% end %>
</p>
<%= submit_tag "add" %>

<% end %>