<%= form_for(post) do |f| %>

<dl>
  <dd><%= label_tag(:title_label, "Title")%></dd>
  <dt><%= f.text_field :title %></dt>
</dl>
<dl>
  <dd><%= label_tag(:slug_label, "Slug")%></dd>
  <dt><%= f.text_field :slug %></dt>
</dl>
<dl>
  <dd><%= label_tag(:content_label, "Content")%></dd>
  <dt><%= f.text_area :content, :size => "150x40" %></dt>
</dl>

<p>
  Tags:(seperated by comma)
</p>

<p>
<%= text_area_tag("post[tag_attributes]", "", :size => "25x4") %>
</p>

<%= f.submit %>

<% end %>

