<article>
  <section id="post_meta">
    <p>
      Created @
      <time datetime="<%= post.created_at.to_date.to_s %>">
      <%= post.created_at.to_time.getlocal.to_datetime.to_formatted_s(:long) %>
    </time>
    by <%= post.admin.name %>
    </p>
    <p>
    tags:<% post.terms.find(:all, :conditions => "looking = 'tag' ").each do |tag| %>
      <%= tag.name %>
    <% end %>
    </p>
  </section>
  <section id="post_content">
    <h1><%= link_to post.title, post_slug(post) %></h1>
    <%=raw Kramdown::Document.new(post.content).to_html%>
    <p>
      <% if post.comments.size == 0 %>
        <%= link_to "No Comments Yet. Leave One?", post_slug(post) + "#comments" %>
      <% else%>
        <%= post.comments.size %> Comments
      <% end %>
    </p>
    <% if admin_signed_in? %>
      <%= link_to "edit", edit_post_path(post.id) %>
    <% end %>
  </section>
</article>