<!DOCTYPE html>
<html>
<head>
  <title><%= t(:blog_title) %></title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
<div class="wrap">
<%= yield %>
</div>
</body>
</html>
