<!DOCTYPE html>
<html>
<head>
  <title>Traces</title>
  <%= stylesheet_link_tag "bw" %>
  <%= javascript_include_tag "jquery", "jquery.rails.js", "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
<div class="wrap">
<%= yield %>
</div>
</body>
</html>
