<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= auto_discovery_link_tag(:atom, feed_path) %>
    <%= auto_discovery_link_tag(:rss, feed_path) %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <title>Traces</title>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-498639-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="loader"><div class="loading">Loading...</div></div>
    <header>
    </header>
    <div class="container">
      <section id="contents">
        <%= yield %>
      </section>
    </div>

    <footer>
    </footer>
  </body>
  <script type="text/javascript">
    $(function() {
      App.initialize();
    });
  </script>
</html>
