<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= auto_discovery_link_tag(:atom, {:action => "feed"}) %>
  <%= auto_discovery_link_tag(:rss, {:action => "feed"}) %>
  <%= stylesheet_link_tag "bw" %>
  <%= javascript_include_tag "jquery", "jquery.rails", "application" %>
  <%= csrf_meta_tag %>

  <% if controller.action_name == "new" or controller.action_name == "create"%>
  <title>Creating New Post</title>
  <% else %>

  <% unless @posts.nil? %>
  <title>Traces</title>
  <% else%>

  <% unless @post.nil? %>
  <title><%= @post.first.title %> | Traces</title>
  <% else%>
  <title>Traces</title>
  <% end %>
  <% end %>

  <% end %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-498639-5']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <header>
    <h1><%= link_to "时之刻痕", root_url %></h1>
    <nav>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "About", "/about" %></li>
        <% if admin_signed_in? %>
        <li><%= link_to "New", new_post_path %></li>
        <li><%= link_to "Sign Out", destroy_admin_session_path %></li>
        <% else %>
        <li><%= link_to "Sign In", new_admin_session_path %>
        <% end %>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <footer>
  </footer>
</body>
</html>